.title {
    font-family: Dosis;
    font-size: 36px;
    font-weight: 500;
    line-height: 0.83;
    color: $black;
    text-align: center;
}

.text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: $grey;
}